language: ruby
# Emacs fails to build using the latest Trusty image on Travis
# See https://github.com/travis-ci/travis-ci/issues/9073
sudo: required
dist: trusty
group: deprecated-2017Q4
rvm:
  - 2.3.0
# Allow Emacs snapshot builds to fail and don't wait for it
matrix:
  fast_finish: true
  allow_failures:
    - env: EMACS_VERSION=snapshot
# Cache stable Emacs binaries and packages
cache:
  bundler: true
  apt: true
  directories:
      - "$HOME/emacs"
      - vendor/bundle
git:
  depth: 1
env:
  matrix:
    - EMACS_VERSION=24.3
    - EMACS_VERSION=24.4
    - EMACS_VERSION=24.5
    - EMACS_VERSION=25.1-rc2
    - EMACS_VERSION=25.1
    - EMACS_VERSION=25.2
    - EMACS_VERSION=snapshot
    - TEXINFO_VERSION=6.1
  global:
    # Maximum number of executing procesors
    - MAKE_JOBS=$(getconf _NPROCESSORS_ONLN)
    # To cache vendor/bundle
    - BUNDLE_PATH=vendor/bundle
    # Setting up the parallel Install
    - BUNDLE_JOBS=$(getconf _NPROCESSORS_ONLN)
before_install:
  # Configure $PATH: Executables are installed to $HOME/bin
  - export PATH="$HOME/bin:$PATH"
script:
  - if [[ -n $EMACS_VERSION ]]; then make -s -f emacs-travis.mk install_emacs; fi
  - if [[ -n $TEXINFO_VERSION ]]; then make -s -f emacs-travis.mk install_texinfo; fi
  - make -f emacs-travis.mk test
addons:
  apt:
    packages:
      - libperl-dev
